.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputWrapper {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}